<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Greg Young's Training Quiz</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>  
  <script src="uuid.js"></script>
  <script type="text/coffeescript" language="coffeescript" src="app.coffee"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
  <link href="style.css" rel="stylesheet" />
</head>
<body>
  <div class="container-fluid" ng-controller='quizController'>
    <tabset>    
      <tab>
        <tab-heading>
          Quiz
        </tab-heading>
        <h2>Greg Young's Training Quiz</h2>
        <div ng-show='quizVisible'>
          <h4>Your name:</h4>
          <p><input ng-model='userName.value' type='text' placeholder='Your name' /></p>
          <input type='checkbox' ng-init='showCurrentAnswerCounts = false'
            ng-click='showCurrentAnswerCounts = !showCurrentAnswerCounts'> Show current answer counts?
          <div ng-repeat='question in questions' class='well'>
            <h3>{{question.question}}</h3>
            <div ng-repeat='choice in question.choices'><input type='radio' name='{{question.id}}' value='{{$index}}' 
              ng-click='selectAnswer(question, choice)' /> {{choice.text}} 
              <span class='currentAnswers' ng-show='showCurrentAnswerCounts'>({{getCurrentAnswerCount(question.id, choice.text)}})</span></div>
          </div>
          <a class='btn btn-primary' ng-click='sendAnswers()'>Send your answers</a>
        </div>
        <div ng-hide='quizVisible'>
          <span class='label label-success'>{{successMessage}}</span>
        </div>
      </tab>
      <tab>
        <tab-heading>
          Results Monitor
        </tab-heading>
        <div>
          <div class='well well-small' ng-repeat='answer in answerStream'>{{answer.content.data.user.value}} answered
           <span class='label'>{{answer.content.data.answer.choice}}</span> for question {{answer.content.data.answer.questionId}} 
              <span class='label {{answer.content.data.answer.correct == true && "label-success" || "label-important"}}'>{{answer.content.data.answer.correct == true && 'correct' || 'wrong'}}</span>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <div ng-controller='questionController'>
    <hr />
    <div class='well'>
      <h2>Questions editor</h2>
      <h3>Question</h3>
      <textarea ng-model='questionTextPending.value' style='width:90%'></textarea>
      <p>
        <button class='btn btn-mini btn-success' ng-click='questionTextApply(selectedQuestion, questionTextPending.value)'
          ng-disabled='selectedQuestion.question == questionTextPending.value'
        >apply</button>
        <button class='btn btn-mini' ng-click='questionTextRevert(selectedQuestion)'
          ng-disabled='selectedQuestion.question == questionTextPending.value'
        >revert</button>
      </p>
      <h4>Choices</h4>
      <div ng-repeat='choice in selectedQuestion.choices'>
        <textarea ng-model='choice.text' style='width:90%' /></textarea>
        <p>
        <button class='btn btn-mini {{getCorrectClass(choice.correct)}}' ng-click='setChoiceCorrect(selectedQuestion, choice)'>{{getCorrectLabel(choice.correct)}}</button> <button class='btn btn-mini btn-danger' ng-click='choiceRemove(selectedQuestion, choice)'>remove</button>
        </p>
      </div>
      <button class='btn btn-mini btn-primary' ng-click='choiceNewAdd()'>add choice</button>
      <div ng-repeat='choice in choices.newPending'>
        <textarea ng-model='choice.text' style='width:90%' /></textarea>
        <p>
          <button class='btn btn-mini btn-primary' ng-click='choiceNewSave(choice)'>save</button> 
          <button class='btn btn-mini btn-danger' ng-click='choiceNewDiscard(choice)'>discard</button>
        </p>
      </div>
    </div>
    <hr />
    <div class='well'>
      <div ng-repeat='question in questions'>
        <h4>{{question.question}}</h4>
        <button class='btn btn-mini btn-primary' ng-click='selectQuestion(question)'>edit</button>
        <button class='btn btn-mini btn-danger' ng-click='questionRemove(question)'>remove</button>
      </div>
      <button class='btn btn-success' ng-click='questionNewAdd()'>add question</button>
    </div>    
  </div>  
</body>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.1.2/coffee-script.min.js"></script>
</html>